.root {
  position: relative;
}

.modal {
  position: absolute;
}

.button {
  font-size: 20px;
  width: 6rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  outline: 2px solid grey;
  background-color: antiquewhite;
}
